body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-weight: 300;
  letter-spacing: 0.3px;
  text-align: center;
}

.main-logo {
  display: block;
  width: 240px;
  margin: 3em auto;
}

.main-board {
  border: solid 3px black;
  width: 40vw;
  height: 60vh;
  margin: auto;
  padding: 20px;
}

.top-board {
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 15pt;
}

.question-number {
  width : 200px;
  height: 25px;
  margin-right: 10%;
  text-align: left;
  padding: 5px;
  font-size: 10pt;
}

.time-remaining {
  position: relative;
  width: 200px;
  height: 25px;
  padding: 5px;
  text-align: center;
}

.score {
  margin-left: 10%;
  width : 200px;
  height: 25px;
  text-align: right;
  padding: 5px;
  font-size: 10pt;
}

.question {
  padding-top: 40px;
  text-align: center;
  height: 20px;
  line-height: 20px;
  font-size: 13pt;
}

.example-code {
  padding: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 10pt;
}

.answer-board {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  margin-top: 15px;
  height: 100px;
}

.answer-buttons {
  width: 150px;
  height: 50px;
}

.result {
  text-align: center;
  height: 10%;
  font-size: 14pt;
  white-space: pre;
  margin-top: 15px;
}

.button-board {
  text-align: center;
  justify-content: center;
  align-content: center;
  height: 110px;
  margin-top: 5px;
}

.start-button, .next-button {
  width: 130px;
  height: 35px;
  font-size: 20pt;
  margin-top: 40px;
}

.hide {
  display: none;
}

.shadow {
  border: solid 1px black;
  border-radius: 10px;
  box-shadow: 0 0 5px;
}
